.report-container {
  width: 98%;
  margin: auto;
}

.report-container h1 {
  color: var(--color-gray);
}

.report-links {
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.report-link {
  width: 100%;
  margin: 1%;
}

.report-link > a {
  text-decoration: none;
}

.btn-search {
  background-color: var(--color-red);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 4.225em;
  height: 27px;
  padding: 0.15em .325em;
}